body::-webkit-scrollbar {
  display: none;
}
body{
 background-color: #FFFFFF;
}
html {scroll-snap-type: y mandatory}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.snapping {
  scroll-snap-type: y mandatory;
}
.snapper{
  scroll-snap-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent {
  contain: content;
}

.child {
  position: fixed;
  top: 0;
  left: 0;
}
.scrollbar::-webkit-scrollbar {
  display: none;
}

.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.snapped{
  scroll-snap-align: center;
  scroll-snap-stop: always;
  aspect-ratio: 4/1;
}

.snap-normal{
  scroll-snap-align: start;
  scroll-snap-stop: start;
  aspect-ratio: 1/1;
}
.snap-nm{
  scroll-snap-align:  start end;
  scroll-snap-stop: normal;
}
.snao-end{
  scroll-snap-align:   end;
  scroll-snap-stop: normal;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  border-radius: 25px;  
  background: transparent;
  outline:auto #57BE94 ;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}