body::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #ffffff;
}
html {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.snapping {
  scroll-snap-type: y mandatory;
}
.snapper {
  scroll-snap-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent {
  contain: content;
}

.child {
  position: fixed;
  top: 0;
  left: 0;
}
.scrollbar::-webkit-scrollbar {
  display: none;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.snapped {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  aspect-ratio: 4/1;
}

.snap-normal {
  scroll-snap-align: start;
  scroll-snap-stop: start;
  aspect-ratio: 1/1;
}
.snap-nm {
  scroll-snap-align:center;
  
  /* scroll-snap-stop: normal; */
  scroll-padding-bottom: 40px;
  scroll-snap-stop: unset;
}
.snao-end {
  scroll-snap-align: start end;
  scroll-snap-stop: normal;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  border-radius: 25px;
  background: transparent;
  outline: auto #57be94;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.item {
  height: 25rem;
  min-width: 15rem;
  padding: 10px;
}
.item-click {
  height: 25rem;
  min-width: 20rem;
  padding: 10px;
}
.item-click img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.item img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  /* opacity: 0.2;  */
  /* background-color: #000000; */
  /* background: rgba(0, 0, 0, ); */
}
.inner-carousel {
  display: flex;
  justify-items: center;
  align-items: center;
}
.carousel {
  cursor: grab;
  margin-top: 1rem;
  margin-bottom: 3rem;
  overflow: hidden;
}
.sidebar {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.pseudo-text-effect {
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: transform 0.5s;
  display: block;
}
.pseudo-text-effect::after {
  content: attr(data-after);
  display: inline-block;
  transform: translateY(100%);
  position: absolute;
  left: 0;
  transition: inherit;
  margin: 5;
}
.pseudo-text-effect > p {
  display: inline-block;
  transform: translateY(0%);
  transition: inherit;
}
.pseudo-text-effect:hover > p {
  transform: translateY(-100%);
  /* margin: 0 5px; */
}
.pseudo-text-effect:hover::after {
  transform: translateY(0%);
  /* font-weight: bold; */
  /* text-decoration: underline; */
}

li {
  list-style: none;
  /* margin-bottom: 20px; */
  /* display: flex; */
  /* align-items: center; */
  cursor: pointer;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  /* bottom: 0; */
  width: 300px;
  background: #fff;
}
.clipped{
  clip-path: circle(30px at 90% 15%);
}

.clipped:hover{
  clip-path: circle(600px);
  transition: all 1s ease-out;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}


.scroller{
  overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: start;
}

.arrow {
  position: absolute;
  top: 50%;
}

.right {
  right: 0;
  margin-right: 20px;
}

.left {
  left: 10;
}

.unclicked-team-img {
  -webkit-border-radius: 12px 0 0 0;
  -moz-border-radius: 12px 0 0 0;
}
.img-team{
  -webkit-border-radius:1rem;
  -moz-border-radius:1rem;

}