body::-webkit-scrollbar {
  display: none;
}

html {scroll-snap-type: y proximity}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.snapping {
  scroll-snap-type: y mandatory;
}
.snapper{
  scroll-snap-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent {
  contain: content;
}

.child {
  position: fixed;
  top: 0;
  left: 0;
}
.scrollbar::-webkit-scrollbar {
  display: none;
}

.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.snapped{
  scroll-snap-align: center;
  scroll-snap-stop: always;
  aspect-ratio: 4/1;
}

.snap-normal{
  scroll-snap-align: start;
  scroll-snap-stop: start;
  aspect-ratio: 1/1;
}
.snap-nm{
  scroll-snap-align:  start end;
  scroll-snap-stop: normal;
}
.snao-end{
  scroll-snap-align:   end;
  scroll-snap-stop: normal;
}